.task {
  padding: 12px 8px;
  min-height: 32px;
  transition: background-color 0.5s;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 16px 8px;
  max-width: 100%;
}
.task:hover {
  background-color: rgb(219, 36, 36);
  color: white;
}
.task .task-name {
  text-overflow: ellipsis;

  overflow: hidden;
  white-space: nowrap;
  max-width: 50%;
}
.task .task-button {
  width: 24px;
  height: 24px;
  padding: 5px;
  font-size: smaller;
  border-radius: 50px;
  text-align: center;
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}
