.tasks-box {
  max-width: 450px;
  background-color: white;
  min-height: 500px;
  max-height: 800px;
  box-shadow: 0 32px 50px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px;
}
@media screen and (max-width: 500px) {
  .tasks-box {
    max-width: 100vw;
  }
}
